# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Work\RDBaaS\04SourceCode\ICH\IRITA\provider\bsn-irita-fabric-provider-gm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
